@charset "UTF-8";
/* Body */
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: #384B58;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #384B58;
}

	
.mmimg {
	width: 17.6rem;
	height: 5.333rem;
}

/* Navigation */
header {
	width: 90%;
	height: 8%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #5d7376;
	border-bottom: 0.067rem solid #2C9AB7;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 1.5rem;
	margin-left: 2.5rem;
	letter-spacing: 0.4rem;
}
nav {
	float: right;
	width: 60%;
	text-align: right;
	margin-right: 1.6rem;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 1.2rem;
	text-align: left;
	margin-top: 1.2rem;
	margin-right: 1.6rem;
	letter-spacing: 0.2rem;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 	5%;;
	margin-bottom: 0px;
	margin-left: 5%;
	letter-spacing: 0.0267rem;
}
/* Stats Gallery */
.row {
  margin-right: 5%;
  margin-left: 5%;
}


.stats {
	color: #19A8E4;
	text-align: center;
	margin-bottom: 0.33rem;
		font-size:2.67rem;

}
.stats_text {
	color: #FFFFFF;
	margin-bottom: 0.33rem;
	font-size:1.7rem;
   text-align: justify;
		margin-left: 5%;
		margin-right: 5%;
}
.title {
	font-family: Arial;
	position: absolute;
    top: 28%;
    width: 80%;
	margin-left: 10%;
	color: #FFFFFF;
	font-size:4.2rem;
	text-align: center;
}

.title2 {
	font-family: Arial;
	position: absolute;
    top: 72%;
    width: 100%;
	color: #FFFFFF;
	font-size:4rem;
	text-align: center;
}

.text-center {
  text-align: center;
  padding-left: 8%;
}

.text-center_organizer {
  text-align: center;
  padding-left: 8.8%;

}

.col-xs-3 {
	  text-align: center;
  position: relative;
  min-height: 0.0267rem;
  padding-right: 2%;
  padding-left: 2%;
	float: left;
  width: 20%;
}

.col-xs-2 {
  position: relative;
  min-height: 0.0267rem;
  padding-right: 1%;
  padding-left: 1%;
	float: left;
  width: 16.6666%;
}
.people-pic {
    max-width: 13.8rem;
    height: 13.8rem;
    object-fit: cover;
    text-align: center;
}

.people-name {
    text-align: center;
    text-overflow: ellipsis;
	color: #FFFFFF;
	font-size:1.38rem;
}

.title3 {
	font-family: Arial;
	position: absolute;
    top: 83%;
    width: 100%;
	color: #FFFFFF;
	font-size:4rem;
	text-align: center;
}


/* Mobile */
@media (max-width: 600px) {
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: #384B58;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #384B58;
}
	
.mmimg {
	width: 5.8rem;
	height: 2rem;
}
	
	
/* Navigation */
header {
	width: 90%;
	height: 8%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #5d7376;
	border-bottom: 0.03rem solid #2C9AB7;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 0.7rem;
	margin-left: 1.2rem;
	letter-spacing: 0.2rem;
}
nav {
	float: right;
	width: 60%;
	text-align: right;
	margin-right: 0.4rem;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 0.3rem;
	text-align: left;
	margin-top: 0.3rem;
	margin-right: 2.75rem;
	letter-spacing: 0.2rem;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 	5%;;
	margin-bottom: 0px;
	margin-left: 5%;
	letter-spacing: 0.012rem;
}
/* Stats Gallery */
.row {
  margin-right: 5%;
  margin-left: 5%;
}


.stats {
	color: #19A8E4;
	text-align: center;
	margin-bottom: 0.15rem;
		font-size:1.3rem;

}
.stats_text {
	color: #FFFFFF;
	margin-bottom: 0.16rem;
	font-size:0.8rem;
   text-align: justify;
		margin-left: 5%;
		margin-right: 5%;
}
.title {
	font-family: Arial;
	position: absolute;
    top: 28%;
    width: 80%;
	margin-left: 10%;
	color: #FFFFFF;
	font-size:1rem;
	text-align: center;
}

.title2 {
	font-family: Arial;
	position: absolute;
    top: 72%;
    width: 100%;
	color: #FFFFFF;
	font-size:0.8rem;
	text-align: center;
}

.text-center {
  text-align: center;
  padding-left: 8%;
}

.text-center_organizer {
  text-align: center;
  padding-left: 8.8%;

}

.col-xs-3 {
	  text-align: center;
  position: relative;
  min-height: 0.013rem;
  padding-right: 2%;
  padding-left: 2%;
	float: left;
  width: 20%;
}

.col-xs-2 {
  position: relative;
  min-height: 0.013rem;
  padding-right: 1%;
  padding-left: 1%;
	float: left;
  width: 16.6666%;
}
.people-pic {
    max-width: 5.8rem;
    height: 5.8rem;
    object-fit: cover;
    text-align: center;
}

.people-name {
    text-align: center;
    text-overflow: ellipsis;
	color: #FFFFFF;
	font-size:0.55rem;
}

.title3 {
	font-family: Arial;
	position: absolute;
    top: 83%;
    width: 100%;
	color: #FFFFFF;
	font-size:0.8rem;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: #384B58;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #384B58;
}
	
.mmimg {
	width: 5.8rem;
	height: 2rem;
}
	
	
/* Navigation */
header {
	width: 90%;
	height: 8%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #5d7376;
	border-bottom: 0.03rem solid #2C9AB7;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 0.7rem;
	margin-left: 1.2rem;
	letter-spacing: 0.2rem;
}
nav {
	float: right;
	width: 60%;
	text-align: right;
	margin-right: 0.4rem;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 0.3rem;
	text-align: left;
	margin-top: 0.3rem;
	margin-right: 2.75rem;
	letter-spacing: 0.2rem;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 	5%;;
	margin-bottom: 0px;
	margin-left: 5%;
	letter-spacing: 0.012rem;
}
/* Stats Gallery */
.row {
  margin-right: 5%;
  margin-left: 5%;
}


.stats {
	color: #19A8E4;
	text-align: center;
	margin-bottom: 0.15rem;
		font-size:1.3rem;

}
.stats_text {
	color: #FFFFFF;
	margin-bottom: 0.16rem;
	font-size:0.8rem;
   text-align: justify;
		margin-left: 5%;
		margin-right: 5%;
}
.title {
	font-family: Arial;
	position: absolute;
    top: 28%;
    width: 80%;
	margin-left: 10%;
	color: #FFFFFF;
	font-size:1rem;
	text-align: center;
}

.title2 {
	font-family: Arial;
	position: absolute;
    top: 72%;
    width: 100%;
	color: #FFFFFF;
	font-size:0.8rem;
	text-align: center;
}

.text-center {
  text-align: center;
  padding-left: 8%;
}

.text-center_organizer {
  text-align: center;
  padding-left: 8.8%;

}

.col-xs-3 {
	  text-align: center;
  position: relative;
  min-height: 0.013rem;
  padding-right: 2%;
  padding-left: 2%;
	float: left;
  width: 20%;
}

.col-xs-2 {
  position: relative;
  min-height: 0.013rem;
  padding-right: 1%;
  padding-left: 1%;
	float: left;
  width: 16.6666%;
}
.people-pic {
    max-width: 5.8rem;
    height: 5.8rem;
    object-fit: cover;
    text-align: center;
}

.people-name {
    text-align: center;
    text-overflow: ellipsis;
	color: #FFFFFF;
	font-size:0.55rem;
}

.title3 {
	font-family: Arial;
	position: absolute;
    top: 83%;
    width: 100%;
	color: #FFFFFF;
	font-size:0.8rem;
	text-align: center;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
