@charset "UTF-8";
/* Body */
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: #384B58;
	margin-top: 0vw;
	margin-right: 0vw;
	margin-bottom: 0vw;
	margin-left: 0vw;
	font-style: normal;
	font-weight: 200;
}

/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #384B58;
}

	
.mmimg {
	width: 18vw;
	height: 5.533vw;
	margin-bottom: -0.2vw;
}

/* Navigation */
header {
	width: 90%;
	height: 7.5%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #5d7376;
	border-bottom: 0.067vw solid #2C9AB7;
}

nav {
	float: right;
	width: 60vw;
	text-align: right;
	margin-right: 0vw;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 1vw;
	text-align: left;
	margin-top: 1.3vw;
	margin-right: 1.5vw;
	letter-spacing: 0.1vw;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0vw;
	margin-right: 	5%;;
	margin-bottom: 0vw;
	margin-left: 5%;
	letter-spacing: 0.0267vw;
}
/* Stats Gallery */
.row {
  margin-right: 5%;
  margin-left: 5%;
}


.stats {
	color: #19A8E4;
	text-align: center;
	margin-bottom: -1.5vw;
	font-size:2.6vw;

}
.stats_organizers {
	font-size:2.6vw;

}

.stats_text {
	color: #FFFFFF;
	margin-bottom: 0.25vw;
	font-size:1.5vw;
   text-align: justify;
		margin-left: 5%;
		margin-right: 5%;
}
.title {
	font-family: Arial;
	position: absolute;
    top: 25%;
    width: 80%;
	margin-left: 10%;
	color: #FFFFFF;
	font-size:3.5vw;
	text-align: center;
	line-height:4.5vw;
}

.title2 {
	font-family: Arial;
	position: absolute;
    top: 72%;
    width: 100%;
	color: #FFFFFF;
	font-size:3.2vw;
	text-align: center;
}


.title3 {
	font-family: Arial;
	position: absolute;
    top: 83%;
    width: 100%;
	color: #FFFFFF;
	font-size:3.2vw;
	text-align: center;
}

.text-center {
  text-align: center;
  padding-left: 8%;
}

.text-center_organizer {
  text-align: center;
  padding-left: 8.8%;

}

.col-xs-3 {
	  text-align: center;
  position: relative;
  min-height: 0.0267vw;
  padding-right: 2%;
  padding-left: 2%;
	float: left;
  width: 20%;
}

.col-xs-2 {
  position: relative;
  min-height: 0.0267vw;
  padding-right: 1%;
  padding-left: 1%;
	float: left;
  width: 16.6666%;
}
.people-pic {
    max-width: 13.8vw;
    height: 13.8vw;
    object-fit: cover;
    text-align: center;
	margin-bottom: -1.5vw;

}

.people-name {
    text-align: center;
    text-overflow: ellipsis;
	color: #FFFFFF;
	font-size:1.38vw;
}

.people-name-inner {
	margin-bottom: -1.5vw;

}